.main-layout .separator {
  border-left: 1px solid #eee;
}

.main-layout .panel {
  padding: 1rem;
}

.main-layout .left-panel {
  padding-right: 0px;
  background-color: #e4e6eb;
}

.main-layout .overflow-content {
  height: 100%;
  flex-direction: column;
}